@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

footer{
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-weight: bold;
    width: 100%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-top: 1px solid rgb(138, 127, 127);
    background-color: #f3f3f3;
}

.foot{
    font-size: 26px;
    text-align: center;
}

.foot a{
    text-decoration: none;
}

@media screen and (max-width: 555px) {
    .foot{
        font-size: 15px;
    }
}