@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

.formulario{
    padding-top: 10%;
    text-align: center;
    margin-bottom: 56px;
}


legend{
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    font-size: 500%;
    background-color: #fff;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}

fieldset{
    padding-top: 10vh;
    margin-right: 22%;
    margin-left: 22%;
    border-radius: 9px;
    border: none;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 5px 5px 5px 5px gray;
}

#name,#cant,#correo{
    margin-bottom: 60px;
    width: 40%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 20px;
}

#name:focus{
    outline: none;
}
#cant:focus{
    outline: none;
}
#correo:focus{
    outline: none;
}

label{
    font-family: 'Noto Sans',Arial, Helvetica, sans-serif;
}

input[type="submit"]{
    margin-bottom: 23px;
    padding: 10px;
    width: 20%;
    border-radius: 9px;
    border-color: transparent;
    font-family: 'Noto Sans',Arial, Helvetica, sans-serif;
    font-weight: bold;
}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: rgb(211, 211, 211);
}

#cant{
    width: 10%;
}


@media screen and (max-width: 700px){
    fieldset{
        padding-top: 10vh;
        margin-right: 10px;
        margin-left: 10px;
        border-radius: 9px;
        border: none;
        background-color: hsl(0, 0%, 100%);
        box-shadow: 5px 5px 5px 5px gray;
    }

    .formulario{
        padding-top: 40%;
        text-align: center;
        margin-bottom: 56px;
    }
}

@media screen and (max-width: 900px){
    legend{
        font-size: 60px;
    }
}

@media screen and (max-width: 450px) {
    legend{
        font-size: 40px;
    }
}